<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GodownConnect" providerName="System.Data.SqlClient" 
        connectionString="Data Source=ADMIN-LAPTOP\SQL2014;Initial Catalog=C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\Godown.mdf;Integrated Security=True;Network Library=dbmssocn"/>   
  </connectionStrings>
</configuration>